AUTH_PORT=4001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=parking_db
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=super_secret_change_me_in_production_8f3a9c
JWT_EXPIRES_IN=1d

NOTIFICATION_SERVICE_URL=http://localhost:4006
CLIENT_URL=http://localhost:5173
